body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Gaegu', cursive;
    font-size: 26px;
    background-color: #EBEDF1;
}

nav {
    background-color: #732929;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    letter-spacing: 1px;
    color: #EBEDF1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
}

.nav-link:hover {
    background-color: #BF382C;
    cursor: pointer;
    text-shadow: -1px 1px 5px black;
    transition: all 0.3s ease-in-out;
}

.hero-img {
    height: 30vh;
    background-image: url(spag.jpg), linear-gradient(to top,#5a5a5a 0%,#cccccc 100%);
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.hero-img h1 {
    margin: 0 auto;
    font-size: 90px;
    color: #EBEDF1;
    font-family: 'Dokdo', cursive;
    text-shadow: -5px 5px 5px black;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.menu-item {
    font-size: 30px;
    background-color: #F28F38;
    height: 230px;
    border-radius: 10px;
}

.menu-item img {
    width: 80%;
    height: 60%;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    object-fit: cover;
}
