body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Gaegu', cursive;
    font-size: 26px;
}

nav {
    background-color: lightcoral;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

nav ul {
    list-style-type: none;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
    color: black;
	letter-spacing: 1px;
}

.hero-img {
    height: 30vh;
    background-image: url(spag.jpg), linear-gradient(to top,#5a5a5a 0%,#cccccc 100%);
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.hero-img h1 {
    margin: 0 auto;
    font-size: 90px;
    color: white;
    font-family: 'Dokdo', cursive;
    text-shadow: -5px 5px 5px black;
}

.menu-item {
    background-color: lightcyan;
    width: 100px;
}
